body {
    background-color: #ffffff;
}

.navbar {
    background-color: #f4f2ed;
}

.navbar-brand {
    font-family: "Stuart", "Stuart fallback", Georgia, serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #292929;
}

.navbar-nav .nav-link {
    font-family: "Graphik", "Graphik fallback", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(12, 11, 8, 0.75);
}

.search-bar {
    width: 400px;
    margin-right: 20px;
}

.search-bar input {
    width: 100%;
    border: 1px solid #928b80;
    border-radius: 4px;
}

.search-bar input:focus {
    border-color: #6c757d;
    outline: none;
}

@media (max-width: 768px) {
    .search-bar {
        width: 100%;
        margin-right: 0;
    }
}
