body {
    background-color: #ffffff;
}

.logo-section {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f2ed;
}

.logo-section h1 {
    font-family: "Stuart", "Stuart fallback", Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    color: #2b7a78;
}

.logo-section p {
    font-family: "Graphik", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(66, 59, 47, 0.75);
}

.category-grid {
    text-align: center;
    margin-top: 30px;
}

.category-item {
    background-color: #f4f2ed; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
    margin-bottom: 20px;
}

.category-grid img {
    width: 150px;  
    height: 150px; 
    object-fit: contain;
    margin-bottom: 10px;
}

.category-title {
    font-family: "Family Graphik", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(12, 11, 8, 0.75);
}
.category-heading {
    font-family: "Stuart", "Stuart fallback", Georgia, serif; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 32px; 
    line-height: 36px; 
    color: rgba(12, 11, 8, 0.75);
    margin-top: 30px; 
}

