body {
    background-color: #ffffff;
}

.navbar {
    background-color: #f4f2ed;
}

.navbar-brand {
    font-family: "Stuart", "Stuart fallback", Georgia, serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #292929;
}

.navbar-nav .nav-link {
    font-family: "Graphik", "Graphik fallback", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(12, 11, 8, 0.75);
}

.search-bar {
    width: 400px;
    margin-right: 20px;
}

.search-bar input {
    width: 100%;
    border: 1px solid #928b80;
    border-radius: 4px;
}

.search-bar input:focus {
    border-color: #6c757d;
    outline: none;
}

@media (max-width: 768px) {
    .search-bar {
        width: 100%;
        margin-right: 0;
    }
}

/* Green container */
.green-container {
    background-color: #2b7a78;
    height: 10px;
    width: 100%;
}

/* Logo section */
.logo-section {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f2ed;
}

.logo-section h1 {
    font-family: "Stuart", "Stuart fallback", Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    color: #2b7a78;
}

.logo-section p {
    font-family: "Graphik", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(66, 59, 47, 0.75);
}

/* Category styles */
.category-grid {
    text-align: center;
    margin-top: 30px;
}

.category-item {
    background-color: #f4f2ed; /* Set the background color */
    padding: 10px; /* Add some padding */
    border-radius: 5px; /* Optional: add rounded corners */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add space between items */
}

.category-grid img {
    width: 150px;  /* Increased width */
    height: 150px; /* Increased height */
    object-fit: contain;
    margin-bottom: 10px;
}

.category-title {
    font-family: "Graphik", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #333;
}
